# Assignment 3

### Q1.Explain with an example each when to use a for loop and a while loop.

Ans: 
In Python, both for loops and while loops are used for iterating through sequences of data or executing a block of code repeatedly. 

#### For loop
A for loop in Python is typically used when you know the exact number of times a block of code needs to be executed.'for' loop used to iterate sequential data type like List, Tuple ,string etc.

In [2]:
#  when we need to iterate sequential data
# example

fruits = ["apple","banana","chery","orange"]
for i in fruits:
    print(i)

apple
banana
chery
orange

In [3]:
# when we nees to iterate over a range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
# When dealing with iterable objects:
person = {'name': 'John', 'age': 30, 'city': 'New York'}
for key, value in person.items():
    print(f'{key}: {value}')

name: John
age: 30
city: New York

#### While Loop
A while loop in Python is used when a condition is to be met true, or if you want a block of code to repeat an unknown number of times until a condition is met.
then While Loop is used

In [6]:
#example of a while loop in Python that prints the numbers from 1 to n:
n = int (input("Enter the Number"))
i = 1
while i <= n:
    print(i)
    i=i+1

Enter the Number 7

1
2
3
4
5
6
7

In this example, the loop will continue to execute as long as i is less than or equal to n. Once i becomes n+1, the condition i <= n is no longer true, so the loop terminates.

45

### Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for  and while loop.

#### Ans: 1) using for loop

In [17]:
sum = 0
product = 1
for i in range(1,11):
    sum = sum + i
    product = product * i
print("The sum of the first 10 natural numbers is:", sum )
print("The product of the first 10 natural numbers is:", product)

The sum of the first 10 natural numbers is: 55
The product of the first 10 natural numbers is: 3628800

#### 2) Using While Loop

In [18]:
i = 1
sum = 0
product = 1
while i<= 10:
    sum = sum + i
    product = product * i
    i = i+1
print("The sum of the first 10 natural numbers is:", sum )
print("The product of the first 10 natural numbers is:", product)

The sum of the first 10 natural numbers is: 55
The product of the first 10 natural numbers is: 3628800

#### Q3. Create a python program to compute the electricity bill for a household. The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per  unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will  be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [31]:
n = int (input("Enter the total unit electricity consumed"))
if n <= 100:
# For the first 100 units, the charge is Rs. 4.5 per unit
    print("You have to pay total Electric bill is : ",units * 4.5)
elif n <= 200:
# For the next 100 units, the charge is Rs. 6 per unit
    print("You have to pay total Electric bill is : ",100 * 4.5 + (n - 100) * 6)
elif n <= 300:
# For the next 100 units, the charge is Rs. 10 per unit
    print("You have to pay total Electric bill is : ",100 * 4.5 + 100 * 6 + (n - 200) * 10)
else:
# For units above 300, the charge is Rs. 20 per unit
    print("You have to pay total Electric bill is : ",100 * 4.5 + 100 * 6 + 100 * 10 + (n - 300) * 20)

Enter the total unit electricity consumed 310

You have to pay total Electric bill is :  2250.0

#### Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list.

### Ans:

In [36]:
l=[]
for i in range(1,101):
    l.append(i)
# list is created with input number from 1 to 100

In [ ]:
l

In [39]:
# Using For Loop for calculating Cube of each element of list l
l1 = [] # l1 stor the cube vales from 1 to 100
l2 = [] # l2 stor the cube vales that are divided by 4 or 5
for i in l:
    cube= i**3
    l1.append(cube)
    #if the cube of that number is divisible by 4 or 5 then append that number in a list
    if cube % 4 ==0 or cube %5 ==0 :
        l2.append(cube)

In [40]:
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [41]:
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

#### Using while loop

In [42]:
l3 = [] # store cube vales
l4 = [] # store cube values that divided by 4 or 5
i = 1
while i <= 100:
    cube = i**3
    l3.append(cube)
    if cube % 4 ==0 or cube %5 ==0 :
        l4.append(cube)
    i = i+1

In [43]:
l3

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [44]:
l4

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

### Q5.  Write a program to filter count vowels in the below-given string. string = "I want to become a data scientist"

### ANS:

In [45]:
s = "I want to become a data scientist "

In [62]:
string=s.lower()

In [63]:
count = 0
for i in string:
    if i == 'a' or i== 'e' or i=='i' or i=='o' or i=='u':
        count = count +1
print( count )

12

In [55]:
string = "I want to become a data scientist"

# Function to count vowels in a string
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in input_string:
        if char in vowels:
            count += 1
    return count

# Count vowels in the given string
vowel_count = count_vowels(string)

# Display the result
print(f"The number of vowels in the string is: {vowel_count}")

The number of vowels in the string is: 12

In [57]:
count_vowels(string)

12

In [58]:
# Given string
string = "I want to become a data scientist"

# Vowels
vowels = 'aeiouAEIOU'

# Using list comprehension to count vowels
count = len([char for char in string if char in vowels])

print("The number of vowels in the string is:", count)

The number of vowels in the string is: 12